<?xml version="1.0"?>
<config>
    <modules>
        <Phoenixsharp_Prdctdeals>
            <version>0.1.0</version>
        </Phoenixsharp_Prdctdeals>
    </modules>
    <frontend>
        <routers>
            <prdctdeals>
                <use>standard</use>
                <args>
                    <module>Phoenixsharp_Prdctdeals</module>
                    <frontName>prdctdeals</frontName>
                </args>
            </prdctdeals>
        </routers>
        <layout>
            <updates>
                <prdctdeals>
                    <file>prdctdeals.xml</file>
                </prdctdeals>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <prdctdeals>
                <use>admin</use>
                <args>
                    <module>Phoenixsharp_Prdctdeals</module>
                    <frontName>prdctdeals</frontName>
                </args>
            </prdctdeals>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <phoenixsharp module="prdctdeals">
                <title>Phoenixsharp</title>
                <sort_order>71</sort_order>               
                <children>                   
                    <prdctdeals module="prdctdeals">
                        <title>Manage Product Deals</title>
                        <sort_order>1</sort_order>
                        <action>prdctdeals/adminhtml_prdctdeals</action>
                    </prdctdeals>
                </children>
            </phoenixsharp>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <prdctdeals>
                            <title>Prdctdeals Module</title>
                            <sort_order>200</sort_order>
                        </prdctdeals>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <prdctdeals>
                    <file>prdctdeals.xml</file>
                </prdctdeals>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <prdctdeals>
                <class>Phoenixsharp_Prdctdeals_Model</class>
                <resourceModel>prdctdeals_mysql4</resourceModel>
            </prdctdeals>
            <prdctdeals_mysql4>
                <class>Phoenixsharp_Prdctdeals_Model_Mysql4</class>
                <entities>
                    <prdctdeals>
                        <table>deals</table>
                    </prdctdeals>
                </entities>
            </prdctdeals_mysql4>
        </models>
        <resources>
            <prdctdeals_setup>
                <setup>
                    <module>Phoenixsharp_Prdctdeals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prdctdeals_setup>
            <prdctdeals_write>
                <connection>
                    <use>core_write</use>
                </connection> 
            </prdctdeals_write>
            <prdctdeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prdctdeals_read>
        </resources>
        <blocks>
            <prdctdeals>
                <class>Phoenixsharp_Prdctdeals_Block</class>
            </prdctdeals>
        </blocks>
        <helpers>
            <prdctdeals>
                <class>Phoenixsharp_Prdctdeals_Helper</class>
            </prdctdeals>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <prdctdeals>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>prdctdeals/observer::setStatus</model></run>
            </prdctdeals>
        </jobs>
    </crontab>
</config>