<?xml version="1.0"?>
<config>
    <modules>
        <Phoenixsharp_Catdeals>
            <version>0.1.0</version>
        </Phoenixsharp_Catdeals>
    </modules>
    <frontend>
        <routers>
            <catdeals>
                <use>standard</use>
                <args>
                    <module>Phoenixsharp_Catdeals</module>
                    <frontName>catdeals</frontName>
                </args>
            </catdeals>
        </routers>
        <layout>
            <updates>
                <catdeals>
                    <file>catdeals.xml</file>
                </catdeals>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <catdeals>
                <use>admin</use>
                <args>
                    <module>Phoenixsharp_Catdeals</module>
                    <frontName>catdeals</frontName>
                </args>
            </catdeals>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <phoenixsharp module="catdeals">
                <title>Phoenixsharp</title>
                <sort_order>71</sort_order>               
                <children>
                    <catdeals module="catdeals">
                        <title>Manage Category Deals</title>
                        <sort_order>0</sort_order>
                        <action>catdeals/adminhtml_catdeals</action>
                    </catdeals>
                </children>
            </phoenixsharp>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <catdeals>
                            <title>Catdeals Module</title>
                            <sort_order>200</sort_order>
                        </catdeals>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <catdeals>
                    <file>catdeals.xml</file>
                </catdeals>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <catdeals>
                <class>Phoenixsharp_Catdeals_Model</class>
                <resourceModel>catdeals_mysql4</resourceModel>
            </catdeals>
            <catdeals_mysql4>
                <class>Phoenixsharp_Catdeals_Model_Mysql4</class>
                <entities>
                    <catdeals>
                        <table>deals</table>
                    </catdeals>
                </entities>
            </catdeals_mysql4>
        </models>
        <resources>
            <catdeals_setup>
                <setup>
                    <module>Phoenixsharp_Catdeals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catdeals_setup>
            <catdeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </catdeals_write>
            <catdeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catdeals_read>
        </resources>
        <blocks>
            <catdeals>
                <class>Phoenixsharp_Catdeals_Block</class>
            </catdeals>
        </blocks>
        <helpers>
            <catdeals>
                <class>Phoenixsharp_Catdeals_Helper</class>
            </catdeals>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <catdeals>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>catdeals/observer::setStatus</model></run>
            </catdeals>
        </jobs>
    </crontab>
</config>